* {
    box-sizing: border-box;
}

body {
    font-family: 'Cabin', Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    padding: 1em;
    height: 500px;
    display: flex;
    justify-content: space-around;
    background-color: #302d38;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.logo, .hero-title, .header-button {
    color: #f9faf8;
}

.hero-message {
    font-size: 18px;
}

.hero-message, .nav-link {
    color: #e5e7eb;
}

.header-button {
    background-color: #3882f6;
    border: none;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 120px;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 2em;
    margin-left: auto;
}

a {
    text-decoration: none;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.header-image {
    height: auto;
    width: 400px;
}