* {
    box-sizing: border-box;
}

body, .header-button, .call-to-action-button {
    font-family: 'Cabin', Arial, Helvetica, sans-serif;
}

body, .hero-title, ul, blockquote, .quoted, h3, .call-to-action-message {
    margin: 0;
}

header, .left, ul, .right, h2, .best-sellers, .quote, .quote-body, .call-to-action-area, .call-to-action, .call-to-action-text, footer {
    display: flex;
}

header {
    padding: 1rem 3rem;
    height: 500px;
}

header, .call-to-action {
    justify-content: space-around;
}

header, footer {
    background-color: #302d38;
}

.logo {
    font-size: 24px;
}

.logo, .header-button, .call-to-action-button, .quoted {
    font-weight: bold;
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
}

.logo, .hero-title, .header-button, .call-to-action-button, h3 {
    color: #f9faf8;
}

.hero-message {
    font-size: 18px;
}

.hero-message, .nav-link, .call-to-action-message, .copyright {
    color: #e5e7eb;
}

.header-button {
    border: none;
}

.header-button, .call-to-action, .call-to-action-button {
    border-radius: 5px;
}

.call-to-action, .header-button, .call-to-action-button {
    background-color: #3882f6;
}

.header-button, .call-to-action-button {
    padding: 6px 20px;
}

.left {
    gap: 120px;
}

.left, .right, .quote-body, .call-to-action-text {
    flex-direction: column;
}

ul {
    list-style: none;
    padding: 0;
    gap: 2em;
    margin-left: auto;
}

a {
    text-decoration: none;
    color: black;
}

.right {
    gap: 100px;
}

.header-image {
    width: 600px;
    height: 300px;
    background-color: #6d747d;
    color: white;
    text-align: center;
    line-height: 300px;
}

.middle {
    height: 480px;
    padding: 50px 0 0 0;
}

h2 {
    margin: 0 0 50px 0;
    font-weight: bolder;
}

h2, blockquote {
    font-size: 36px;
}

h2, .best-sellers, .quote, .call-to-action-area, footer {
    justify-content: center;
    gap: 3rem;
}

.best-seller {
    width: 150px;
    height: 150px;
    border: 2px solid #3882f6;
    border-radius: 10px;
}

.middle-images {
    text-align: center;
}

h2, blockquote, .quoted {
    color: #302d38;
}

.quote {
    background-color: #e5e7eb;
    height: 400px;
}

.quote, .call-to-action-area, .call-to-action, footer {
    align-items: center;
}

.quote-body {
    width: 50%;
}

blockquote {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: italic;
}

.quoted {
    align-self: flex-end;
}

.call-to-action-area {
    height: 350px;
}

.call-to-action {
    width: 70%;
    padding: 50px 0;
}

.call-to-action-text {
    gap: 8px;
}

.call-to-action-button {
    border: 2px solid #f9faf8;
    height: fit-content;
}

footer {
    height: 80px;
}