* {
    box-sizing: border-box;
}

body {
    font-family: 'Cabin', Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    padding: 1em;
    height: 500px;
    display: flex;
    justify-content: space-around;
    background-color: #302d38;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.hero-title {
    font-size: 48px;
    color: #f9faf8;
}

.hero-message, .header-button {
    font-size: 18px;
    color: #e5e7eb
}

.left {
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 2em;
}

a {
    text-decoration: none;
}

.right {
    display: flex;
    flex-direction: column;
}

.header-image {
    height: auto;
    width: 400px;
}